* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

html {
    font-size: 100%;
    color: brown;
    font-family: sans-serif;
}

li {
    padding: 1rem;
}

li:nth-child(3n) {
    border-bottom: 1px dashed brown;
}